<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/blog-form.css">
</head>
<body>
    <div class="blog-form">
        <h1>create blog</h1>
        <form action="/blog/create-blog" method="post">
            <input type="url" name="img" placeholder="Enter img url.." required>
            <input type="text" name="title" placeholder="Enter title...." required>
            <input type="text" name="content" placeholder="Enter content here.." required>
            <button type="submit">+Create</button>
        </form>
    </div>
</body>
</html>
