<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div class="profile"> 
    <h1>profile</h1>
    <img src="https://c4.wallpaperflare.com/wallpaper/103/5/162/anime-anime-boys-jujutsu-kaisen-satoru-gojo-hd-wallpaper-preview.jpg" alt="">

    <h2>Name - <span><%=user.name%></span></h2>
    <h2>Email - <span><%=user.email%></span></h2>
</div>
</body>
</html>