<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-in</title>
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
    <div class="signin">
        <h1>sign in</h1>
        <form action="/user/create-session" method="post">
            <input type="text" name="email" placeholder="Enter your email..">
            <input type="password" name="password" placeholder="Enter your password..">
            <button type="submit">Sign-in</button>
        </form>
        <a href="/user/auth/google">sign in with google</a>
    </div>
</body>
</html>