<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up</title>
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="signup">
        <h1>sign up</h1>
        <form action="/user/create-user" method="post">
            <input type="text" name="name" placeholder="enter your name">
            <input type="text" name="email" placeholder="enter your email..">
            <input type="password" name="password" placeholder="enter your password..">
            <button type="submit">Sign-up</button>
        </form>
    </div>
</body>
</html>