body{
   background-color:  #fdf2e9;
   font-family: sans-serif;
/* #e67e22 */
}

.signin{
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    margin: auto;
}
h1{
    text-transform: uppercase;
    color: #555;
}

form{
    display: flex;
    flex-direction: column;
    gap: 60px;

    align-items: center;
}

input{
    width: 60vw;
    padding: 15px;
    font-size: 15px;
    border-radius: 12px;

    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

button{
    padding: 15px;
    width: 30vw;
    background-color: #e67e22;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
}

a{
    padding: 15px;
    width: 30vw;
    background-color: #e67e22;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}